{% extends "layout.html" %}
{% block title %}Edition d'une piece{% endblock %}
{% block content %}
<h1>Edition de la pièce</h1>
{% if banque %}
<div>
  {% if back_banque %}
  <a href="../banque"><< Retour aux relevé</a>
  {% else %}
  <a href="../pieces"><< Retour aux pieces</a>
  {% endif %}
</div>
<div class="d-flex">
  <p class="px-2">
    <br/>
    {% if banque.piece_id and banque_id == file.piece_id %}
    Lié à l'écriture bancaire :
    {% else %}
    Rappel info bancaire :
    {% endif %}
  </p>
  <p class="px-5">
    <span class="text-muted">paiement:date</span>
    <br/>
    {{ banque.date|date:"Y-m-d" }}
  </p>
  <p class="px-5">
    <span class="text-muted">paiement:proof</span>
    <br/>
    {{ banque.raw }}
  </p>
  <p class="px-5">
    <span class="text-muted">facture:TTC</span>
    <br/>
    {{ banque.amount|floatformat:2 }} €
  </p>
</div>
{% else %}
<div>
  <a href="../files"><< Retour aux fichiers</a>
</div>
<div class="d-flex">
  <p>Champs attendus pour les pièces : </p>
  <p class="px-2 text-muted">facture:identifier</p>
  <p class="px-2 text-muted">facture:author</p>
  <p class="px-2 text-muted">facture:client</p>
  <p class="px-2 text-muted">facture:date</p>
  <p class="px-2 text-muted">facture:TTC</p>
  <p class="px-2 text-muted">facture:HT</p>
  <p class="px-2 text-muted">facture:libelle</p>
</div>
{% endif %}
</div>
<div style="height: 1024px; width: 100%">
  <iframe src="{{ pdf_edit_full_url }}" style="height: 100%; width: 100%">
  </iframe>
</div>
{% if banque %}
<div class="d-flex">
  <p class="px-2">
    <br/>
    {% if banque.piece_id and banque_id == file.piece_id %}
    Lié à l'écriture bancaire :
    {% else %}
    Rappel info bancaire :
    {% endif %}
  </p>
  <p class="px-5">
    <span class="text-muted">paiement:date</span>
    <br/>
    {{ banque.date|date:"Y-m-d" }}
  </p>
  <p class="px-5">
    <span class="text-muted">paiement:proof</span>
    <br/>
    {{ banque.raw }}
  </p>
  <p class="px-5">
    <span class="text-muted">facture:TTC</span>
    <br/>
    {{ banque.amount|floatformat:2 }} €
  </p>
</div>
<div>
  {% if back_banque %}
  <a href="../banque"><< Retour aux relevé</a>
  {% else %}
  <a href="../pieces"><< Retour aux pieces</a>
  {% endif %}
</div>
{% else %}
<div>
  <a href="../files"><< Retour aux fichiers</a>
</div>
<div class="d-flex">
  <p>Champs attendus pour les pièces : </p>
  <p class="px-2 text-muted">facture:identifier</p>
  <p class="px-2 text-muted">facture:author</p>
  <p class="px-2 text-muted">facture:client</p>
  <p class="px-2 text-muted">facture:date</p>
  <p class="px-2 text-muted">facture:TTC</p>
  <p class="px-2 text-muted">facture:HT</p>
  <p class="px-2 text-muted">facture:libelle</p>
</div>
{% endif %}
{% endblock %}
